<p id="notice"><%= notice %></p>

<h2>Instructors</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Brandeis ID</th>
      <th scope="col">First</th>
      <th scope="col">Middle</th>
      <th scope="col">Last</th>
       <th scope="col">Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @instructors.each do |instructor| %>
      <tr>
        <td scope="row"><%= instructor.bid %></td>
        <td scope="row"><%= instructor.first %></td>
        <td scope="row"><%= instructor.middle %></td>
        <td scope="row"><%= instructor.last %></td>
        <td scope="row"><%= instructor.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
